<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width={device-width}, initial-scale=1.0">
    <title>Converter</title> 
   
</head>
<body>
        <div>
            <label>Enter a roman numeral:</label>
            <input id="toArabicInput" ></input> 
            <button id = 'toArabicButton' onClick="{changeToArabic}">submit</button>
            <p id="toArabicText"></p>
        </div> 
        <div>
            <label>Enter an integer:</label>
            <input id="toRomInput"></input> 
            <button id="toRomButton" onClick={changeToRom}>submit</button>
            <p id="toRomText"></p>
        </div>

    <script src="static/index.js"></script>
</body>
</html>